body {
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
}


/*
.spectacle-presenter > div:nth-child(1) {
  padding: 0 20px !important;
  height: 10% !important;
}

.spectacle-presenter > div:nth-child(2) {
  align-items: flex-start !important;
  padding-top: 40px !important;
}

.spectacle-presenter {
  font-size: 18px !important;
}

.spectacle-presenter .spectacle-content {
  transform: scale(0.538571) !important;
}

.spectacle-presenter-notes {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 999 !important;
  height: auto !important;
  max-height: 32% !important;
  padding-bottom: 50px !important;
  font-family: "Helvetica Neue" !important;
  font-size: 1.2em !important;
  -webkit-font-smoothing: antialiased !important;
  overflow: auto !important;
  background: rgba(0, 0, 0, 0.9) !important;
  column-count: 1 !important;
}

.spectacle-presenter-notes p {
  margin-top: 0;
  margin-bottom: 0.8em;
}
*/

